<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PathToExportTo" value="I:\Plex Backup" />
    <add key="PlexRegistryPath" value="HKEY_CURRENT_USER\Software\Plex, Inc.\Plex Media Server" />
    <add key="AppDataDirectoryToExportFrom" value="Plex Media Server" />
    <add key="RegistryBackupName" value="Plex Registry" />
    <add key="AppDataBackupName" value="Plex Media Server" />
    <add key="NumberOfBackupsToKeep" value="2" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>